/*fontface*/
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Maven Pro Black'), local('MavenProBlack'), url(http://themes.googleusercontent.com/static/fonts/mavenpro/v4/-91TwiFzqeL1F7Kh91APwXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

/*CSS*/


.html{
  font-size:20px;
}

.body{
  background:-webkit-radial-gradient( center center,circle cover,white 50%, #ccc);
  
  background:-moz-radial-gradient( center center,circle cover,white 50%, #ccc);
    
 background:radial-gradient( center center,circle cover,white 50%, #ccc)
}

.mdn{
  position: relative;
  width: 21rem;
  height: 26rem;
  margin: 20% auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1rem black;
  border-radius: 3rem;
  background-color: black;
}

.mdn::before{
  content:'';
  position: absolute;
  width: 19rem;
  height: 14rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  
  background: linear-gradient(128deg, transparent 51%, black 53%, black 70%, transparent 72%) no-repeat bottom left,
    linear-gradient(108deg, transparent 38%, black 40%, black 63%, transparent 65%) no-repeat bottom left 6.3rem,
    linear-gradient(73deg, transparent 36%, black 38%, black 63%, transparent 65%) no-repeat bottom right 4.8rem,
    -webkit-radial-gradient(center center, circle contain, black 60%, transparent 60%)no-repeat bottom 2.1rem left 5.7rem,
    -webkit-radial-gradient(center center, circle contain, black 60%, transparent 60%)no-repeat bottom 1.2rem left 8.9rem,
    -webkit-radial-gradient(center center, circle contain, black 60%, transparent 60%)no-repeat left 4.9rem top 6.9rem,
    -webkit-radial-gradient(center center, circle contain, black 60%, transparent 60%)no-repeat left 5.7rem top 4.3rem,
    -webkit-radial-gradient(center center, circle contain, black 60%, transparent 60%)no-repeat left 8.4rem top 2.4rem,
    linear-gradient(73deg, transparent 36%, black 38%, black 63%, transparent 66%) no-repeat bottom 2.8rem left 2.7rem,
    linear-gradient(112deg, transparent 36%, black 38%, black 63%, transparent 65%) no-repeat top 4rem left 2.8rem,
    linear-gradient(150deg, transparent 47%, black 48%, black 66%, transparent 68%) no-repeat top 1.1rem left 3.5rem,
    linear-gradient(151deg, transparent 55%, black 56%, black 88%, transparent 90%) no-repeat top 2.5rem left 1rem,
    linear-gradient(150deg, transparent 57%, black 58%, black 88%, transparent 90%) no-repeat top 4.5rem left .8rem,
    linear-gradient(150deg, transparent 60%, black 63%, black 100%) no-repeat bottom 4.5rem left .8rem,
    linear-gradient(150deg, transparent 50%, black 53%, black 100%) no-repeat bottom 2.8rem left 1.8rem,
    linear-gradient(15deg, transparent 16%, black 20%, black 62%, transparent 65%) no-repeat top 1rem left 8.5rem,
    linear-gradient(162deg, transparent 30%, black 32%, black 70%, transparent 66%) no-repeat top 1.6rem right 6.2rem ,
    linear-gradient(45deg, transparent 31%, black 32%, black 52%, transparent 53%) no-repeat top 1.6rem right 3.5rem,
     linear-gradient(20deg, transparent 30%, black 31%, black 52%, transparent 54%) no-repeat top 2.8rem right 1.6rem ,
    linear-gradient(45deg, transparent 27%, black 29%, black 51%, transparent 52%) no-repeat top 3.8rem right .5rem,
    linear-gradient(90deg, transparent 38%, black 38%, black 60%) no-repeat top 6rem right .5rem,
    linear-gradient(45deg, transparent 35%, black 35%, black 70%) no-repeat top 4.8rem right 1.6rem,
    linear-gradient(108deg, black 40%, transparent 40%) no-repeat bottom 4.4rem right .1rem,
    linear-gradient(150deg, transparent 23%, black 25%, black 55%, transparent 57%) no-repeat bottom 3rem right 1rem,
    linear-gradient(15deg, transparent 40%, black 41%, black 60%, transparent 62%) no-repeat bottom 2.8rem right 3.5rem,
    linear-gradient(110deg, transparent 45%, black 45%, black 65%, transparent 65%) no-repeat top 3.6rem right 5.8rem,
    -webkit-radial-gradient(center center, ellipse contain, white 28%, transparent 30%)no-repeat right 4.9rem top 3.5rem,
    linear-gradient(40deg, transparent 52%, #F30021 52%, #F30021 75%, transparent 75%) no-repeat top 3.2rem right 5rem,
    linear-gradient(38deg, transparent 30%, #F30021 30%, #F30021 52%, transparent 52%) no-repeat top 3.8rem right 6rem,
    linear-gradient(162deg, transparent 30%, black 30%, black 70%, transparent 65%) no-repeat top 3.3rem right 5.6rem,
    linear-gradient(162deg, transparent 10%, black 25%, black 55%, transparent 55%) no-repeat top 4rem right 5rem,
    linear-gradient(15deg, transparent 40%, black 42%, black 59%, transparent 61%) no-repeat top 6rem right 1rem,
    linear-gradient(15deg, transparent 43%, black 45%, black 59%, transparent 59%) no-repeat top 7.5rem right 1rem,
    
    linear-gradient(15deg, transparent 30%, #F30021 30%, #F30021 68%, transparent 68%) no-repeat top 4rem right 7.8rem,
    linear-gradient(15deg, transparent 30%, #F30021 30%, #F30021 68%, transparent 68%) no-repeat top 5.1rem right 8.3rem,
    -webkit-radial-gradient(center center, circle contain, #F30021 0%, #F30021 33%, black 33%, black 50%, transparent 50%)no-repeat right 6.5rem top 3.2rem,
    -webkit-radial-gradient(center center, circle contain, #F30021 50%, transparent 52%)no-repeat right 5.6rem top 2.5rem,
    -webkit-radial-gradient(center center, circle contain, black 52%, transparent 53%)no-repeat right 4.6rem top 1.5rem,
    linear-gradient(80deg, transparent 84%, white 84%, white 55%) no-repeat top 6.9rem right 5.1rem,
    linear-gradient(80deg, transparent 84%, white 84%, white 55%) no-repeat top 7.1rem right 4.3rem,
    linear-gradient(80deg, transparent 84%, white 84%, white 55%) no-repeat top 7.3rem right 3.5rem,
    linear-gradient(80deg, transparent 84%, white 84%, white 55%) no-repeat top 7.5rem right 2.6rem,
    linear-gradient(80deg, transparent 84%, white 84%, white 55%) no-repeat top 7.7rem right 1.8rem,
    linear-gradient(120deg, white 40%, white 40%, transparent 40%) no-repeat top 7.7rem right .8rem,
    linear-gradient(120deg, white 40%, white 40%, transparent 40%) no-repeat top 7.5rem right 1.6rem,
    linear-gradient(120deg, white 40%, white 40%, transparent 40%) no-repeat top 7.3rem right 2.5rem,
    linear-gradient(120deg, white 40%, white 40%, transparent 40%) no-repeat top 7.1rem right 3.3rem,
    linear-gradient(120deg, white 40%, white 40%, transparent 40%) no-repeat top 6.8rem right 4.1rem,
    linear-gradient(15deg, transparent 45%, black 45%, black 70%, transparent 59%) no-repeat top 6.5rem right 1.1rem,
    linear-gradient(45deg, gold 30%, black 35%, black 50%, transparent 55%) no-repeat top 4.7rem right 6.2rem; 
  
  /*FF*/
  
  background: linear-gradient(128deg, transparent 51%, black 53%, black 70%, transparent 72%) no-repeat bottom left,
    linear-gradient(108deg, transparent 38%, black 40%, black 63%, transparent 65%) no-repeat bottom left 6.3rem,
    linear-gradient(73deg, transparent 36%, black 38%, black 63%, transparent 65%) no-repeat bottom right 4.8rem,
    -moz-radial-gradient(center center, circle contain, black 60%, transparent 60%)no-repeat bottom 2.1rem left 5.7rem,
    -moz-radial-gradient(center center, circle contain, black 60%, transparent 60%)no-repeat bottom 1.2rem left 8.9rem,
    -moz-radial-gradient(center center, circle contain, black 60%, transparent 60%)no-repeat left 4.9rem top 6.9rem,
    -moz-radial-gradient(center center, circle contain, black 60%, transparent 60%)no-repeat left 5.7rem top 4.3rem,
    -moz-radial-gradient(center center, circle contain, black 60%, transparent 60%)no-repeat left 8.4rem top 2.4rem,
    linear-gradient(73deg, transparent 36%, black 38%, black 63%, transparent 66%) no-repeat bottom 2.8rem left 2.7rem,
    linear-gradient(112deg, transparent 36%, black 38%, black 63%, transparent 65%) no-repeat top 4rem left 2.8rem,
    linear-gradient(150deg, transparent 47%, black 48%, black 66%, transparent 68%) no-repeat top 1.1rem left 3.5rem,
    linear-gradient(151deg, transparent 55%, black 56%, black 88%, transparent 90%) no-repeat top 2.5rem left 1rem,
    linear-gradient(150deg, transparent 57%, black 58%, black 88%, transparent 90%) no-repeat top 4.5rem left .8rem,
    linear-gradient(150deg, transparent 60%, black 63%, black 100%) no-repeat bottom 4.5rem left .8rem,
    linear-gradient(150deg, transparent 50%, black 53%, black 100%) no-repeat bottom 2.8rem left 1.8rem,
    linear-gradient(15deg, transparent 16%, black 20%, black 62%, transparent 65%) no-repeat top 1rem left 8.5rem,
    linear-gradient(162deg, transparent 30%, black 32%, black 70%, transparent 66%) no-repeat top 1.6rem right 6.2rem,
    linear-gradient(45deg, transparent 31%, black 32%, black 52%, transparent 53%) no-repeat top 1.6rem right 3.5rem,
     linear-gradient(20deg, transparent 30%, black 31%, black 52%, transparent 54%) no-repeat top 2.8rem right 1.6rem,
    linear-gradient(45deg, transparent 27%, black 29%, black 51%, transparent 52%) no-repeat top 3.8rem right .5rem,
    linear-gradient(90deg, transparent 38%, black 38%, black 60%) no-repeat top 6rem right .5rem,
    linear-gradient(45deg, transparent 35%, black 35%, black 70%) no-repeat top 4.8rem right 1.6rem,
    linear-gradient(108deg, black 40%, transparent 40%) no-repeat bottom 4.4rem right .1rem,
    linear-gradient(150deg, transparent 23%, black 25%, black 55%, transparent 57%) no-repeat bottom 3rem right 1rem,
    linear-gradient(15deg, transparent 40%, black 41%, black 60%, transparent 62%) no-repeat bottom 2.8rem right 3.5rem,
    linear-gradient(110deg, transparent 45%, black 45%, black 65%, transparent 65%) no-repeat top 3.6rem right 5.8rem,
    -moz-radial-gradient(center center, ellipse contain, white 28%, transparent 30%)no-repeat right 4.9rem top 3.5rem,
    linear-gradient(40deg, transparent 52%, #F30021 52%, #F30021 75%, transparent 75%) no-repeat top 3.2rem right 5rem,
    linear-gradient(38deg, transparent 30%, #F30021 30%, #F30021 52%, transparent 52%) no-repeat top 3.8rem right 6rem,
    linear-gradient(162deg, transparent 30%, black 30%, black 70%, transparent 65%) no-repeat top 3.3rem right 5.6rem,
    linear-gradient(162deg, transparent 10%, black 25%, black 55%, transparent 55%) no-repeat top 4rem right 5rem,
    linear-gradient(15deg, transparent 40%, black 42%, black 59%, transparent 61%) no-repeat top 6rem right 1rem,
    linear-gradient(15deg, transparent 43%, black 45%, black 59%, transparent 59%) no-repeat top 7.5rem right 1rem,
    
    linear-gradient(15deg, transparent 30%, #F30021 30%, #F30021 68%, transparent 68%) no-repeat top 4rem right 7.8rem,
    linear-gradient(15deg, transparent 30%, #F30021 30%, #F30021 68%, transparent 68%) no-repeat top 5.1rem right 8.3rem,
    -moz-radial-gradient(center center, circle contain, #F30021 0%, #F30021 33%, black 33%, black 50%, transparent 50%)no-repeat right 6.5rem top 3.2rem,
    -moz-radial-gradient(center center, circle contain, #F30021 50%, transparent 52%)no-repeat right 5.6rem top 2.5rem,
    -moz-radial-gradient(center center, circle contain, black 52%, transparent 53%)no-repeat right 4.6rem top 1.5rem,
    linear-gradient(80deg, transparent 84%, white 84%, white 55%) no-repeat top 6.9rem right 5.1rem,
    linear-gradient(80deg, transparent 84%, white 84%, white 55%) no-repeat top 7.1rem right 4.3rem,
    linear-gradient(80deg, transparent 84%, white 84%, white 55%) no-repeat top 7.3rem right 3.5rem,
    linear-gradient(80deg, transparent 84%, white 84%, white 55%) no-repeat top 7.5rem right 2.6rem,
    linear-gradient(80deg, transparent 84%, white 84%, white 55%) no-repeat top 7.7rem right 1.8rem,
    linear-gradient(120deg, white 40%, white 40%, transparent 40%) no-repeat top 7.7rem right .8rem,
    linear-gradient(120deg, white 40%, white 40%, transparent 40%) no-repeat top 7.5rem right 1.6rem,
    linear-gradient(120deg, white 40%, white 40%, transparent 40%) no-repeat top 7.3rem right 2.5rem,
    linear-gradient(120deg, white 40%, white 40%, transparent 40%) no-repeat top 7.1rem right 3.3rem,
    linear-gradient(120deg, white 40%, white 40%, transparent 40%) no-repeat top 6.8rem right 4.1rem,
    linear-gradient(15deg, transparent 45%, black 45%, black 70%, transparent 59%) no-repeat top 6.5rem right 1.1rem,
    linear-gradient(45deg, gold 30%, black 35%, black 50%, transparent 55%) no-repeat top 4.7rem right 6.2rem; 
  background-size: 
    5.5rem 2.8rem
    ,3rem 5.5rem
    ,3rem 4rem
    ,1rem 1rem
    ,1rem 1rem
    ,1rem 1rem
    ,1rem 1rem
    ,1rem 1rem
    ,3rem 4rem
    ,3rem 3.3rem
    ,5rem 3.3rem
    ,4rem 3rem
    ,3.5rem 3rem
    ,3rem 3rem
    ,3rem 2rem
    ,3rem 1.8rem
    ,2.5rem 1.7rem
    ,2.8rem 2.8rem
    ,2.8rem 2.8rem
    ,1.1rem 2.8rem
    ,1rem 2rem
    ,.5rem 2rem
    ,1rem 1.6rem
    ,2.5rem 1.7rem
    ,6.5rem 3rem
    ,1rem 1rem
    ,2.8rem 1.3rem
    ,1.5rem 1.3rem 
    ,2rem 1.3rem 
    ,2rem 1.3rem
    ,2rem 1.3rem
    ,6rem 2rem
    ,6.9rem 2rem
    
    ,2.3rem 3rem
    ,2.3rem 1rem
    ,5.5rem 6rem
    ,7.5rem 7.5rem
    ,9.5rem 10rem
    ,1rem 1rem
    ,1rem 1rem
    ,1rem 1rem
    ,1rem 1rem
    ,1rem 1rem
    ,1rem 1rem
    ,1rem 1rem
    ,1rem 1rem
    ,1rem 1rem
    ,1rem 1rem
    ,7rem 3.2rem
    ,1.1rem 2rem;
  
  background-color: #F30021;
}

.mdn::after{
  content:'MDN';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 19rem;
  font-family: 'Maven Pro';
  font-size: 8rem;
  color: #FFF;
  text-align: center;
}